.btn {
  cursor: pointer;

  padding: 5px 10px;

  border: 0px;
  border-radius: 3px;
}

.btn:hover {
  opacity: 90%;
}

.btn--danger {
  color: white;
  background-color: rgb(176, 69, 70);
}

.btn--primary {
  color: white;
  background-color: rgb(68, 105, 174);
}

.btn--cross {
  background-color: rgb(245, 246, 247);
  color: rgb(190, 194, 200);
  font-size: 16px;

  margin: 0;
  padding: 0;
}

.btn--home {
  color: white;
  background-color: rgb(68, 105, 174);
  text-decoration: none;
}